@model Test_menu.Models.Resource

@{
    ViewData["Title"] = "Booking";
}

<h1>Booking</h1>


@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" id="result-alert" role="alert">
        @TempData["ErrorMessage"]
    </div>
}
<div>
    <h4>Resource</h4>
    <hr />
    <form asp-controller="Bookings" asp-action="Book" method="post">
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt class="col-sm-2">
                Date From
            </dt>
            <dd class="col-sm-10">
                <input type="datetime-local" name="DateFrom" required />
            </dd>

            <dt class="col-sm-2">
                Date To
            </dt>
            <dd class="col-sm-10">
                <input type="datetime-local" name="DateTo" required />
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dd class="col-sm-10">
                <input type="number" name="Quantity" min="1" required />
            </dd>
        </dl>

        <button type="submit" class="btn btn-info">Book</button>
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
